<launch>

  <!-- Load controller manager -->
  <rosparam command="load" file="$(find construction_vehicles)/excavator/config/default_controllers.yaml" />
  <node name="excavator_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="spawn 
		joint_state_controller 
		joint_group_position_controller
    Cat_395_Door_Joint_controller
    Cat_395_Cabin_Joint_vel_controller
    Cat_395_BoomCylinder2_Joint_vel_controller
    Cat_395_ArmCylinder2_Joint_vel_controller
    Cat_395_BucketCylinder2_Joint_vel_controller" />

</launch>