<launch>

  <arg name="namespace" default="excavator" />

  <group ns="$(arg namespace)">
    <include file="$(find mujoco_sim)/launch/mujoco_sim.launch">
      <arg name="config" value="$(find construction_vehicles)/excavator/config/excavator.yaml" />
      <arg name="robot" value="$(find construction_vehicles)/excavator/description/urdf/excavator.urdf" />
      <arg name="world" value="$(find construction_vehicles)/excavator/description/model/world.xml" />
      <arg name="use_urdf" value="true" />
    </include>
  </group>

</launch>