<launch>

  <arg name="namespace" default="loader" />
  <include file="$(find construction_vehicles)/loader/launch/loader_sim.launch">
    <arg name="namespace" value="$(arg namespace)" />
  </include>

  <group ns="$(arg namespace)">
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <include file="$(find construction_vehicles)/loader/launch/loader_control.launch" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find construction_vehicles)/loader/rviz_config/rviz_config.rviz" />
  </group>

</launch>